input
{
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}
table
{
  margin: 0.5em;
}
th
{
  border: solid 1.5px black;
  text-align: center;
  background: lightgrey;
  color: black;
  padding: 1em;
}
td
{
  border: solid 1.5px black;
  width: 3em;
  text-align: center;
  padding: 1em;
  color: black;
  background: rgba(255,255,0,0.5);
}
.grid_down
{
  font-size: 1.5em;
}
h1
{
  margin: 1em;
}
.firstrow
{
  background: pink;
}

.secundrow
{
  background: lightblue;
}
#firstspcial
{
  color: green;
  background: orange;
}
td:hover
{
  cursor: pointer;
  opacity: 0.5;
}
